.app-container {
    text-align: center;
    padding: 2rem;
}

.app-title {
    font-size: 2.5rem;
    color: #4a90e2;
}

.main-content {
  padding-top: 60px;
  width: 100%;
  height: 100%;
}

a {
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

/* Tema claro */
body.light {
    background-color: #f0f0f0;
    color: #111;
    transition: background-color 0.4s, color 0.4s;
  }

body.light a {
    background-color: #cc95ff;
}

body.light a:hover {
  box-shadow: 0 0 10px #cc95ff;
}
  
  /* Tema escuro */
  body.dark {
    background-color: #2c2c2c;
    color: #f5f5f5;
    transition: background-color 0.4s, color 0.4s;
  }
  
  body.dark a {
    background-color: #1e1e1e;
}

body.dark a:hover {
  box-shadow: 0 0 10px blueviolet;
}
